.header{background-color: #ff00ff;
height: 50px;
text-align: center;}

.main{background-color: gold;
text-align: center;
height:100px;}
.mai{background-color: lightcoral;
text-align: center;
height:100px;}
.ma{background-color: lawngreen;
text-align: center;
height:200px;}
.top{background-color: mistyrose;
padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px;}
div{
    margin-top: 0;
    margin-bottom: 1rem;
    }